body {
  background-color: rgb(186, 136, 206);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(78, 44, 105);
  margin-top: 20px;
}

.robot-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#robot {
  border-radius: 150px;
  max-width: 100%;
}

.botao {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

button {
  border-radius: 20px;
  background-color: rgb(86, 28, 133);
  color: aliceblue;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
}
